---
import Layout from '~/layouts/PageLayout.astro';

import NewsBanner from '~/components/widgets/NewsBanner.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Image from '~/components/common/Image.astro';
// import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'ICHQP workshop',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- News Banner ******************* -->
  <NewsBanner
    items={[
      { text: 'All keynote speakers confirmed', href: 'program#keynote-speakers' },
      // { text: 'Abstract submission deadline extended', href: 'authors' },
      { text: 'Early bird registration open', href: 'registration#registration-details' },
    ]}
    bg={`<div class="absolute inset-0 bg-red-50 dark:bg-slate-900"></div>`}
    classes="text-lg"
  />

  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Register',
        href: 'registration',
        // target: '_blank',
        // icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#about' },
    ]}
    image={{ src: '~/assets/images/impedances-logos.png', alt: 'AstroWind Hero Image' }}
    tagline="1<sup>st</sup> ICHQP workshop 2025"
  >
    <Fragment slot="title">
      From Planning to Operation: <br />
      Efficient Assessment of Harmonic Emission from Distorting Installations
      <!-- Free template for <span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS -->
    </Fragment>

    <Fragment slot="subtitle">
      <!-- <span class="block mb-1 font-bold text-red-600">1<sup>st</sup> ICHQP workshop</span> -->
      <Image src="~/assets/images/Logo_workshop.png" alt="ICHQP Image" class="my-4 mx-auto max-w-full" width="170" />
      King’s College London, UK <br />
      June 11-12, 2025
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <Steps
    id="about"
    title="About"
    items={[
      {
        title: 'Motivation',
        description: `
        Modern distribution and transmission networks face challenges such as the rise of power electronics, 
        including inverter-based resources, and the impact of increased cabling on harmonic impedance and resonances. 
        Accurate harmonic studies are essential for managing harmonic disturbances and ensuring system stability and 
        reliability across all voltage levels.`,
        icon: 'tabler:question-mark',
      },
      {
        title: 'Idea',
        description: `
        An industry-academia workshop to provide a platform for experts in harmonic analysis - 
        ranging from network operators, manufacturers, consultants and research institutions to standardization bodies - 
        to share insights from recent projects and explore future challenges and solutions in this evolving field.`,
        icon: 'tabler:bulb',
      },
      {
        title: 'Connection to the conference',
        description: `
        The ICHQP workshop complements the International Conference on Harmonics and Quality of Power (ICHQP). 
        It is held in the years between conferences focusing on a contemporary topic in the field of Power Quality and harmonics. 
        This 1st workshop is jointly organized by King's College London and TUD Dresden University of Technology.`,
        icon: 'tabler:git-merge', // refresh git-compare git-merge line check
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-red-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <!-- Features Widget *************** -->

  <Features
    id="concept"
    tagline=""
    title="Concept"
    subtitle="Providing a platform for expert exchange, discussions, and networking."
    columns={2}
    items={[
      {
        title: 'Keynote Presentations',
        description: 'Hear from recognized experts in the field.',
        icon: 'tabler:microphone',
      },
      {
        title: 'No Parallel Tracks',
        description: 'Focus on a single session without missing out.',
        icon: 'tabler:layout-grid',
      },
      {
        title: 'No Papers Required',
        description: 'Participate with a presentation or poster only.',
        icon: 'tabler:file-off',
      },
      {
        title: 'Plenty of Discussion Time',
        description: 'Ample opportunities for discussions and networking.',
        icon: 'tabler:hourglass-empty',
      },
      {
        title: 'Affordable Registration Fees',
        description: 'Lower fees compared to traditional conferences.',
        icon: 'tabler:coin-pound',
      },
      {
        title: 'Evening Networking Event',
        description: 'Enjoy an engaging get-together.',
        icon: 'tabler:glass',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Features2
    id="topics"
    tagline=""
    title="Topics"
    columns={2}
    items={[
      {
        title: 'Harmonics in Planning',
        description: `
        • Modelling requirements <br>
        • Calculation of emission limits <br>
        • Implementation of compliance studies <br>
        • Specification of immunity levels <br>
        • Selection of mitigation strategies
        `,
      },
      {
        title: 'Harmonics in Standardization',
        description: `
        • Activities at CIGRE and IEC <br>
        • National rules and standards <br>
        • Critical comparisons <br>
        • Challenges and application difficulties <br>
        • Updates on summation exponents and transfer coefficients
        `,
      },
      {
        title: 'Harmonics in Operation',
        description: `
        • Measurement and evaluation concepts and challenges <br>
        • Contribution assessment <br>
        • Network harmonic impedance <br>
        • Validation of mitigation measures and simulation models
        `,
      },
      {
        title: 'Case Studies',
        description: `
        • Practical examples and experiences from harmonic compliance studies <br>
        • Results from measurement campaigns related to harmonic emission and disturbance levels
        `,
      },
    ]}
  >
    <Fragment slot="subtitle">
      From planning to operation: <br /> Efficient assessment of harmonic emission from distorting installations
      <!-- From Planning to Operation: <br /> Efficient Assessment of Harmonic Emission from Distorting Installations -->
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-red-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Steps
    id="committee"
    title="Organizing Committee"
    items={[
      {
        title: ``,
        description: `This workshop is organized by:<br />
      <br />
      • Grazia Todeschini, UK <br />
      • Jan Meyer, Germany <br /> 
      • Ana Maria Blanco, Germany <br /> 
      • Max Domagk, Germany <br />
      <br />
      in coordination with the ICHQP steering committee represented by: <br />
      <br />
      • Roberto Langella (Co-Chair), Italy <br />
      • Cristian Lazaroiu (Co-Chair), Romania
      `,
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
</Layout>
